.mainArea{
    content: space-between;
    align-items: center;
    padding: 0rem;
}

.cpuArea{
    display: flex;
    height: 30vh;
    width: 100%;
    min-height: 100px;
    background-color: rgb(20, 5, 34);
    align-items: center;
    justify-content: center;
}

.secondArea{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 70vh;
    width: 100%;
    background-color: var(--background);
    /* min-height: 300px; */
}

.leftArea{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    
}

.networkArea{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(19, 5, 34);
}

.memoryArea{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;

}


.processArea{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(3, 13, 24);
}